/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a {
	text-decoration: none;
}
.b-bottom{
    border-bottom: 1px solid #eee;
}
.boton {
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: bold;
    border: solid 2px rgb(45, 45, 45);
    background-color: transparent;
}
.boton:hover {
    cursor: pointer;
}
.boton-primario {
    color: rgb(129, 129, 129);
}
.boton-primario:hover {
    background-color: rgb(45, 45, 45); ;
    color: white;
}
.boton-secundario:hover {
    background-color: rgb(45, 45, 45);
    color: white;
}
.btn-turnos,.boton-secundario {    
    color: rgb(129, 129, 129);
}
.btn-turnos:hover {
    background-color: rgb(45, 45, 45);
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color: rgba(1,1,1,.8);
    color: rgb(129, 129, 129);
}
.contenedor {
    margin: 5% 35%;
    padding: 10px 15px;
    /* box-shadow: 0px 0px 10px 1px #0000005c; */
    border-radius: 5px;
    animation: latir infinite 2s linear;
}
.headerclass {       
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    /* box-shadow: 0px 0px 10px 5px #0000005c; */
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtitulo {
    height: 80%;
    margin-right: 3px;
    padding: 3px 20px;
    display: flex;
    align-items: center;
    border-radius: 2px;    
}
.subtitulo span {
    color: rgb(129, 129, 129);
    font-weight: bold;
    font-size: xx-large;
}
.subtitulo span strong {
    /* color: rgb(255, 80, 80); */
    color: firebrick;
}

.datoscabecera {
    display: flex;
    flex-direction: column;

}
.campo-feik {
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 5px ;
    padding: 5px;
    text-align: end;
}
.split {
    height: 2px;
    width: 100%;
    background-color: rgb(45, 45, 45);
    text-align: center;
    font-weight: bold;
}
.datos {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}
.campos {
    display: flex;
    flex-direction: column;
}
.campos:last-of-type{
    margin-left: 10px;
}
.campo {
    margin: 3px 0px;
    width: 100%;
}
input[type="text"], select {
    border: 2px solid #eee;
    padding: 3px;
    border-radius: 5px;
    width: 100%;
    height: 30px;
}
.seccionservicio {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.seccionservicio div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.correoelectronico {
    width: 60%!important;
    flex-direction: column;
    justify-content: space-around!important;
}
.correoelectronico div {
    width: 100%!important;    
    align-items: center;
}
.correoelectronico div input{
    display: inline-block;
    width: 25%;
    margin-right: 10px;
}
.correoelectronico div label {
    width: 25%;
}
.correoelectronico div select {
    width: 25%;
}
.controles {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.modal-servicio {
  text-align: center;
  background-color: rgba(1, 1, 1,.8);
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute; 
}
.content-modal{
  color: rgb(1 1 1);
  margin: 0 auto;
  width: 900px;
}
.none {
 display: none;
}
.modal-header {
  border-bottom: solid 1px #eee;
  color: rgb(129, 129, 129);
}
.modal-body span{
  font-size: 30px; 
}
#modal-btn{
    animation: latir infinite 2s linear;
}
.text-success {
  color: rgb(129, 129, 129);
}
.text-warning {
  color: #eff37ef7;
}
.text-danger {
  color: #c45050;
}

@keyframes latir {
    0% {
        box-shadow: 0px 0px 10px 1px #848484;
    }

    50% {
        box-shadow: 0px 0px 30px 6px #a70000;
    }

    55% {
        box-shadow: 0px 0px 25px 4px #a70000;
    }

    100% {
        box-shadow: 0px 0px 10px 1px #848484;
    }
}